# Data Structures

__Struktur Data__ adalah kumpulan beragam data yang disusun sedemikian rupa sehingga dapat diakses secara efisien. 

Topik yang dibahas:
* Tuples
* Lists of lists
* Representing a grid or a spreadsheet
* Representing the world of an adventure game
* Reading a comma-separated value (.csv) fie

## Tuple

Python memiliki salah satu struktur data yang disebut sebagai __tuple__. Tuple pada dasarnya adalah sebuah __list yang tidak dapat diubah__. 

Perhatikan kembali contoh sederhana list di bawah ini.

In [11]:
daftarMahasiswa = ['Andhika', 'Andru', 'Enggar', 'Joshua']

In [12]:
print(daftarMahasiswa)

['Andhika', 'Andru', 'Enggar', 'Joshua']

In [13]:
print(len(daftarMahasiswa))

4

In [14]:
print(daftarMahasiswa[2])

Enggar

In [15]:
daftarMahasiswa[3] = 'Yoshua'

In [16]:
print(daftarMahasiswa)

['Andhika', 'Andru', 'Enggar', 'Yoshua']

In [17]:
daftarMahasiswa.append('Ardan')

In [18]:
print(daftarMahasiswa)

['Andhika', 'Andru', 'Enggar', 'Yoshua', 'Ardan']

Pada list, dapat dilakukan proses penambahan elemen atau item menggunakan _append()_. Berbeda dengan _tuple_, hal tersebut tidak dapat dilakukan.

Proses assignment pada tuple mirip pada list, hanya saja menggunakan tanda ( ) sebagai pengganti [  ] pada list.
<i>
    
    tuple_variabel = ( elemen1, elemen2, ... , elemenN )
</i>

In [19]:
tupleMahasiswa = ('Andhika', 'Andru', 'Enggar', 'Yoshua', 'Ardan')

In [20]:
print(tupleMahasiswa)

('Andhika', 'Andru', 'Enggar', 'Yoshua', 'Ardan')

In [21]:
type(tupleMahasiswa)

tuple

Cara mengakses tuple sama seperti mengakses list.

In [22]:
print(len(tupleMahasiswa))

5

In [24]:
print(tupleMahasiswa[4])

Ardan

Namun data pada tuple __tidak dapat diubah__ atau __ditambahkan__.

In [25]:
tupleMahasiswa[4] = 'Maulana'

TypeError: 'tuple' object does not support item assignment

In [26]:
tupleMahasiswa.append('Maulana')

AttributeError: 'tuple' object has no attribute 'append'

Apa manfaat menggunakan tuple ketika datanya ternyata tidak bisa diubah ? Salah satu keunggulan tuple dibanding list adalah __kecepatan akses__. Pada program yang dimaksudkan untuk mengolah struktur data (matriks) berukuran besar, tuple tentunya lebih disarankan untuk digunakan dibanding list.

Oleh karena itu, terkadang seorang programmer melakukan perubahan atau pembentukan tuple dari list ketika bermaksud melakukan pengolahan terhadap struktur data berukuran besar.

## List of List

List dapat menampung beragam data, termasuk di dalam sebuah list bisa berisi list juga. List yang seperti ini biasa disebut juga list yang bersarang (_nested list_). Perhatikan ilustrasi di bawah ini.

In [27]:
listofList = [4, -1 , [23, 45, 12], 87]

In [28]:
print(listofList)

[4, -1, [23, 45, 12], 87]

In [29]:
print(len(listofList))

4

In [30]:
print(listofList[2])

[23, 45, 12]

Elemen ke-2 dari listofList juga berbentuk list. Adapun untuk mengakses elemen dari listofList bisa dengan cara 

1. menyimpannya dalam sebuah list baru kemudian mengakses menggunakan indeksnya.

In [31]:
innerList = listofList[2]
print(innerList)

[23, 45, 12]

In [32]:
print(innerList[1])

45

2. Menggunakan sintak terstruktur seperti pola di bawah ini.

<i>
    
    outerlist[ indeksOuterList ][ indeksInnerList ]
 </i>

In [33]:
print(listofList[2][1])

45

## Representasi Grid / Spreadsheet sebuah List

List dapat merepresentasikan sebuah __grid__, atau __spreadsheet__, atau __matriks__, yaitu sebuah kumpulan data yang terdiri dari __baris dan kolom__.

In [34]:
EMPTY = ''
X = 'x'
O = 'o'

grid = [\
            [EMPTY, EMPTY, EMPTY], \
            [EMPTY, EMPTY, EMPTY], \
            [EMPTY, EMPTY, EMPTY] \
       ]

In [35]:
print(grid)

[['', '', ''], ['', '', ''], ['', '', '']]

In [36]:
baris = 0
kolom = 2
grid[baris][kolom] = X

In [37]:
print(grid)

[['', '', 'x'], ['', '', ''], ['', '', '']]

#### Latihan Mandiri
Buatlah program sebagaimana dicontohkan pada halaman 307  hingga 309 buku irv kalb.

## Membaca File .csv

Python memberikan kemudahan untuk membaca file .csv (Comma-Separated Value). File ini biasanya dibuat dari suatu spreadsheet dan disimpan menjadi format .csv untuk merepresentasikan kumpulan data berbentuk baris dan kolom. 

Agar dapat membaca file berekstensi .csv, diperlukan library atau package untuk membaca file. Gunakan perintah __import csv__ untuk memanggil library csv. Jika belum ada, maka lakukan proses instalasi library seperti dicontohkan pada sesi-sesi awal tutorial.

<img src="images/w12spreadsheet.JPG">

<img src="images/w12spreadsheet_csv.JPG">

In [2]:
import csv

DATA_FILE_NAME = 'nilaiKuliah.csv'

with open(DATA_FILE_NAME) as csvfile:
    # Melakukan parsing untuk pembacaan secara baris perbaris
    readCSV = csv.reader(csvfile, delimiter=',')
    line_count = 0
    
    for row in readCSV:
        if line_count == 0:
            print(f'Nama Kolom : {row}')
            line_count += 1
        else:
            print(row)
            line_count += 1
    
    print(f'Total {line_count} baris')

csvfile.close()

Nama Kolom : ['NIM', 'NAMA MHS', 'UK1', 'UK2', 'UK3', 'UK4']
['I0319003', 'Afra Galda', '84', '66', '76', '45']
['I0319011', 'Amelia Rahma', '76', '78', '', '56']
['I0319013', 'Anisa Agustina', '86', '57', '89', '78']
['I0319015', 'Annafis Manaruzzaki', '54', '', '89', '45']
['i0319017', 'Annisa Syahliantina', '87', '67', '67', '89']
['I0319023', 'Calvin William ', '65', '67', '87', '67']
['I0319025', 'Dicka Korintus', '46', '', '65', '67']
['I0319029', 'Elsa Jubilia', '78', '85', '78', '87']
['I0319031', 'Evonella Pangaribuan', '57', '87', '92', '78']
['I0319059', 'Abyan Naufalÿ', '89', '84', '78', '84']
['I0319061', 'Fiqran Alauddin', '54', '68', '89', '67']
Total 12 baris

Perhatikan bahwa kode program di atas melakukan proses pencetakan baris perbaris isi file. Setiap baris data telah berbentk list. Selanjutnya, dengan memanfaatkan fungsi __.append()__ dapat dilakukan pembentukan struktur data list yang juga berisi list.

In [7]:
import csv

DATA_FILE_NAME = 'nilaiKuliah.csv'
listNilai = []

with open(DATA_FILE_NAME) as csvfile:
    # Melakukan parsing untuk pembacaan secara baris perbaris
    readCSV = csv.reader(csvfile, delimiter=',')
    line_count = 0
    
    for row in readCSV:
        if line_count == 0:
            print(f'Nama Kolom : {row}')
            listNilai.append(row)
            line_count += 1
        else:
            print(row)
            listNilai.append(row)
            line_count += 1
    
    print(f'Total {line_count} baris')

csvfile.close()

print()
print(listNilai)

Nama Kolom : ['NIM', 'NAMA MHS', 'UK1', 'UK2', 'UK3', 'UK4']
['I0319003', 'Afra Galda', '84', '66', '76', '45']
['I0319011', 'Amelia Rahma', '76', '78', '', '56']
['I0319013', 'Anisa Agustina', '86', '57', '89', '78']
['I0319015', 'Annafis Manaruzzaki', '54', '', '89', '45']
['i0319017', 'Annisa Syahliantina', '87', '67', '67', '89']
['I0319023', 'Calvin William ', '65', '67', '87', '67']
['I0319025', 'Dicka Korintus', '46', '', '65', '67']
['I0319029', 'Elsa Jubilia', '78', '85', '78', '87']
['I0319031', 'Evonella Pangaribuan', '57', '87', '92', '78']
['I0319059', 'Abyan Naufalÿ', '89', '84', '78', '84']
['I0319061', 'Fiqran Alauddin', '54', '68', '89', '67']
Total 12 baris

[['NIM', 'NAMA MHS', 'UK1', 'UK2', 'UK3', 'UK4'], ['I0319003', 'Afra Galda', '84', '66', '76', '45'], ['I0319011', 'Amelia Rahma', '76', '78', '', '56'], ['I0319013', 'Anisa Agustina', '86', '57', '89', '78'], ['I0319015', 'Annafis Manaruzzaki', '54', '', '89', '45'], ['i0319017', 'Annisa Syahliantina', '87', '67', '67', '89'], ['I0319023', 'Calvin William ', '65', '67', '87', '67'], ['I0319025', 'Dicka Korintus', '46', '', '65', '67'], ['I0319029', 'Elsa Jubilia', '78', '85', '78', '87'], ['I0319031', 'Evonella Pangaribuan', '57', '87', '92', '78'], ['I0319059', 'Abyan Naufalÿ', '89', '84', '78', '84'], ['I0319061', 'Fiqran Alauddin', '54', '68', '89', '67']]

In [8]:
listNilai

[['NIM', 'NAMA MHS', 'UK1', 'UK2', 'UK3', 'UK4'],
 ['I0319003', 'Afra Galda', '84', '66', '76', '45'],
 ['I0319011', 'Amelia Rahma', '76', '78', '', '56'],
 ['I0319013', 'Anisa Agustina', '86', '57', '89', '78'],
 ['I0319015', 'Annafis Manaruzzaki', '54', '', '89', '45'],
 ['i0319017', 'Annisa Syahliantina', '87', '67', '67', '89'],
 ['I0319023', 'Calvin William ', '65', '67', '87', '67'],
 ['I0319025', 'Dicka Korintus', '46', '', '65', '67'],
 ['I0319029', 'Elsa Jubilia', '78', '85', '78', '87'],
 ['I0319031', 'Evonella Pangaribuan', '57', '87', '92', '78'],
 ['I0319059', 'Abyan Naufalÿ', '89', '84', '78', '84'],
 ['I0319061', 'Fiqran Alauddin', '54', '68', '89', '67']]

#### Latihan Mandiri
1. Buatlah proses untuk menentukan skorAkhir setiap mahasiswa. Bobot UK1, UK2, UK3, UK4 berturut-turut adalah 0.2, 0.25, 0.2, 0.35.  
2. Tentukan berapa nilai rata-rata skor. 
3. Kembangkan program untuk menentukan apakah mahasiswa memperoleh A, A-, B dan seterusnya berdasarkan aturan penilaian yang berlaku.